.footerWrapper {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  z-index: 10;
  margin-top: auto;
  flex-shrink: 0;
  position: sticky;
  bottom: 0;
}

.footer {
  width: 100%;
  height: 70px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.05);
}

.tab {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;

  .icon {
    color: #aaa; 
    transition: color 0.2s ease;
  }

  .label {
    font-size: 12px;
    color: #203a43; 
    margin-top: 4px;
    transition: color 0.2s ease;
    font-weight: 500;
  }
}

.active {
  .icon {
    color: #203a43;
  }

  .label {
    color: #203a43; 

  }
}