.root {
  width: 70px;
  background: #0f2027;
  color: white;
  min-height: 100vh;
  transition: all 0.4s ease;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

.activeNav {
  width: 230px !important;
}

.logoContainer {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 12px;
  padding: 10px 14px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: all 0.4s ease;
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.05);
  margin-bottom: 20px;
}

.logoContainer:hover {
  background: rgba(255, 255, 255, 0.2);
  transform: scale(1.02);
}

.logoIcon {
  font-size: 1.6rem;
  color: #ffffff;
}

.logoText {
  font-weight: 600;
  color: #ffffff;
  font-size: 1.1rem;
  margin-left: 10px;
  letter-spacing: 0.5px;
}

.sidebar_menu_item_root {
  border-radius: 10px;
  margin: 6px 8px;
  transition: all 0.3s ease;
  cursor: pointer;
  padding: 6px 10px;
}

.sidebar_menu_item_root:hover {
  background: rgba(255, 255, 255, 0.15);
  transform: translateX(3px);
}

.sidebar_menu_item_label {
  color: rgba(255, 255, 255, 0.9);
  font-weight: 500;
  transition: color 0.3s ease;
}

.sidebar_menu_item_root:hover .sidebar_menu_item_label {
  color: white;
}

.leftIcon {
  color: rgba(255, 255, 255, 0.85);
  transition: color 0.3s ease;
}

.sidebar_menu_item_root:hover .leftIcon {
  color: #fff;
}

.active {
  background: #fff !important;
  color: #0f2027;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(79, 70, 229, 0.25);
}

.activeLabel {
  color: #0f2027;
}

.iconActive {
  color: #0f2027 !important;
}

.scrollContainer {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-top: 1rem;
  scroll-behavior: smooth;

  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
}