.root {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100vh; 

  .mantine-AppShell-root {
    display: flex;
    flex-direction: column;
    flex: 1; 
  }
}
